body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    background-color:  #0d2446;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.side-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 75px;
}

.button{
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border: 3px solid #1eacc1;
    border-radius: 6px;
    padding: 5px;
    width: 100px;
    text-align: center;
}


.container{
    display: grid;
    height: 600px;
    width: 600px;
    margin-top: 75px;
    grid-template-rows: repeat(100, auto);
    grid-template-columns: repeat(100, auto);
    gap: 0px 0px;
    border: 3px solid #1eacc1;
    border-radius: 6px;
}

.grid-element{
    background-color: white;
    border: 1px solid black;
    filter: brightness(100%);
    padding: 1px;
}