body{
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    height: 750px;
    width: 750px;
    grid-template-rows: repeat(100, auto);
    grid-template-columns: repeat(100, auto);
    gap: 0px 0px;
}

.grid-element{
    background-color: white;
    border: 1px solid black;
    padding: 1px;
}